<?xml version="1.0"?>
<launch>


    <node name="broadcaster" pkg="visualuwb" type="frame.py" respawn="false" output="screen" >
    </node>

    <node pkg="visualuwb" type="frame_listener.py" 
          name="listener" output="screen" />

<!--

	<node pkg="camera" type="recorder" name="recorder" output="screen" if="$(arg record_flag)">
             <param name="/database" value="$(find camera)/database/"/>
	</node>
-->
</launch>
