<?xml version="1.0"?>
<launch>
	<!--
        <arg name="record_flag" value="1"/>

	<node pkg="camera" type="video" name="video" output="screen">
		<param name="videoport" value="0" />
		<param name="hz" value="30" />
	</node>
	-->

<!--
	<node pkg="lsd_slam_viewer" type="viewer" name="viewer"/> 
-->

	<node pkg="lsd_slam_core" type="live_slam" name="live_slam" 
		args="image:=/image_raw camera_info:=/camera_info"/>

	<node pkg="rosbag" type="play" name="rosbag_play_lsdroom" output="screen"
		args="$(find lsd_slam_core)/../bag/LSD_room.bag"/>


</launch>
